<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"><title>RUDAN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container pt-3">

        <!-- 결과창 -->
        <div class="row">
            <div class="col-12 alert alert-danger mt-3" role="alert">
                키워드별 최신 기사
            </div>
        </div>
        <!-- 버튼 -->
        <div class="row">
            <button type="button" class="btn btn-outline-danger get-datas1">백신</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger get-datas2">사회적 거리두기</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger get-datas3">국내 확진</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger get-datas4">재난 지원금</button>
        </div>
        <!-- 데이터 가져오기 -->
        <div class="show-datas">
            <table class="table table-striped new">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- 차트 -->
        <div class="row">
            <div id="container" class="w-100"></div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
         $(document).ready(function(){
           $(".get-datas1").on('click', function(){
                var url_new='/vaccine';
                
                $.getJSON(url_new, function(response){
                    console.log(response.datas_vac);
                    var tag = "";
                    for (var i=0; i< response.datas_vac.length; i++){
                        tag += '<tr>';
                        tag += '    <td>' + i + '</td>';
                        tag += '    <td>' + response.datas_vac[i].date + '</td>';    
                        tag += '    <td>' + response.datas_vac[i].title + '</td>';
                        tag += '    <td>' + response.datas_vac[i].link + '</td>';
                        tag += '</tr>';
                    }
                    $(".new tbody").html(tag);

                })
            }) 
        });
         $(document).ready(function(){    
           $(".get-datas2").on('click', function(){
                var url_new='/soc_distance';
                
                $.getJSON(url_new, function(response){
                    console.log(response.datas_soc);
                    var tag = "";
                    for (var i=0; i< response.datas_soc.length; i++){
                        tag += '<tr>';
                        tag += '    <td>' + i + '</td>';
                        tag += '    <td>' + response.datas_soc[i].date + '</td>';    
                        tag += '    <td>' + response.datas_soc[i].title + '</td>';
                        tag += '    <td>' + response.datas_soc[i].link + '</td>';
                        tag += '</tr>';
                    }
                    $(".new tbody").html(tag);

                })
            })
        });
         $(document).ready(function(){    
           $(".get-datas3").on('click', function(){
                var url_new='/infection';
                
                $.getJSON(url_new, function(response){
                    console.log(response.datas_inf);
                    var tag = "";
                    for (var i=0; i< response.datas_inf.length; i++){
                        tag += '<tr>';
                        tag += '    <td>' + i + '</td>';
                        tag += '    <td>' + response.datas_inf[i].date + '</td>';    
                        tag += '    <td>' + response.datas_inf[i].title + '</td>';
                        tag += '    <td>' + response.datas_inf[i].link + '</td>';
                        tag += '</tr>';
                    }
                    $(".new tbody").html(tag);

                })
            })
        });    
         $(document).ready(function(){    
           $(".get-datas4").on('click', function(){
                var url_new='/support';
                
                $.getJSON(url_new, function(response){
                    console.log(response.datas_sup);
                    var tag = "";
                    for (var i=0; i< response.datas_sup.length; i++){
                        tag += '<tr>';
                        tag += '    <td>' + i + '</td>';
                        tag += '    <td>' + response.datas_sup[i].date + '</td>';    
                        tag += '    <td>' + response.datas_sup[i].title + '</td>';
                        tag += '    <td>' + response.datas_sup[i].link + '</td>';
                        tag += '</tr>';
                    }
                    $(".new tbody").html(tag);

                })
            }) 
        });       
    </script>

</body>
</html>
